.outerContainer {
  width: 100%;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: 1px solid green; */
  font-family: var(--heading-font-1);

  > .headingBox {
    width: 90%;
    text-align: center;
    margin: 20px 0;
    > .heading {
      font-size: 45px;
      font-weight: 400;
      font-family: var(--heading-font-1);
      color: var(--button-color-2-hover);
    }
  }
  > .horizontalLine {
    height: 3px;
    width: 60%;
    background-color: rgb(75, 75, 75);
    margin-bottom: 30px;
  }
  > .shippingStepperBox {
    /* border: 1px solid green; */
    width: 90%;
  }
  > .shippingAndOrderBox {
    margin: 5vh 0;
    /* border: 1px solid blue; */
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    max-width: 1600px;

    > .shippingAndCartDataBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      /* border: 1px solid gray; */
      width: 70%;
      margin-right: 5vw;

      > .shippingAreaBox {
        display: flex;
        flex-direction: column;
        border: 2px solid rgb(184, 184, 184);
        border-radius: 10px;
        background-image: linear-gradient(
          to right top,
          #c6c6c6,
          #cecece,
          #d6d6d6,
          #dfdfdf,
          #e7e7e7
        );
        width: 95%;
        max-width: 600px;
        margin: 20px 0;
        min-height: 200px;


        > .subheading {
          font-size: 22px;
          font-weight: 600;
          font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
            "Lucida Sans", Arial, sans-serif;
          /* width: 100%; */
          margin: 10px 1vw;
          color: var(--button-color-2-hover);
        }
        > .nameBox,
        > .phoneNumberBox,
        > .addressBox,
        > .pincodeBox {
          display: flex;
          align-items: center;
          /* border: 1px solid green; */
          margin: 5px 1vw;

          > .nameHeading,
          > .phoneNumberHeading,
          > .addressHeading,
          > .pincodeHeading {
            font-size: 14px;
            width: 20%;
            text-align: end;
            margin-right: 10px;
            color: rgb(82, 82, 82);
          }
          > .name,
          > .phoneNumber,
          > .address,
          > .pincode {
            font-size: 16px;
            width: 80%;
            font-weight: 500;
          }
        }
      }
      > .cartDataBox {
        display: flex;
        flex-direction: column;
        /* border: 1px solid green; */
        width: 100%;
        max-width: 1000px;
        > .subheading {
          font-size: 30px;
          font-weight: 500;
          font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
            "Lucida Sans", Arial, sans-serif;
          /* width: 100%; */
          margin: 10px 1vw;
          color: var(--button-color-2-hover);
        }

        > .dataBox {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          height: 200px;
          overflow-y: auto;
          border: 2px solid gray;
          border-radius: 10px;
          /* margin-top: 10px; */
          box-sizing: border-box;
          > .itemBox {
            display: flex;
            flex-direction: row;
            width: 100%;
            max-width: 900px;
            padding: 0 0.5vw;
            gap: 1vw;
            margin: 10px 0;
            border: 3px solid rgb(202, 202, 202);
            border-radius: 15px;
            align-items: center;
            > .productCard {
              display: flex;
              flex-direction: row;
              /* align-items: center; */
              width: 80%;
              gap: 2%;
              box-sizing: border-box;
              font-family: var(--heading-font-1);
              overflow-x: auto;
              /* border: 1px solid green; */
              padding: 8px 0;
              > .itemImage {
                /* border: 1px solid green; */
                width: 80px;
                height: 80px;
                object-fit: contain;
              }
              > .infoBox {
                display: flex;
                flex-direction: column;
                > .itemName {
                  font-size: 17px;
                  text-decoration: none;
                  color: rgb(37, 37, 37);
                  font-weight: 500;
                  margin-bottom: 5px;
                }
                > .priceBox,
                > .quantityBox {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  margin: 1px 0;
                  /* border: 1px solid green; */
                  > .priceHeading,
                  > .quantityHeading {
                    margin-right: 4px;
                    font-size: 13px;
                    font-weight: 600;
                    color: rgb(114, 114, 114);
                  }

                  > .itemPrice,
                  > .itemQuantity {
                    font-size: 14px;
                    font-weight: 600;
                    color: rgb(83, 83, 83);
                  }
                }
              }
            }

            > .quantityAndTotal {
              display: flex;
              width: 20%;
              flex-direction: column;
              /* border: 1px solid green; */
              text-align: center;

              > .itemTotalPrice {
                font-size: 17px;
                color: rgb(34, 34, 34);
                font-weight: 600;
              }
              > .quantityAndPrice {
                font-size: 13px;
                font-weight: 600;
                color: rgb(114, 114, 114);
              }
            }
          }
        }
      }
    }

    > .orderSummaryAndPaymentBox {
      display: flex;
      flex-direction: column;
      /* border: 1px solid gray; */
      width: 30%;
      max-width: 400px;
      > .orderSummaryBox {
        /* width: 100%; */
        display: flex;
        flex-direction: column;
        align-items: center;
        border: 2px solid rgb(190, 190, 190);
        background-color: rgb(243, 243, 243);
        border-radius: 10px;
        margin: 20px 0;
        margin-bottom: 15px;
        min-height: 180px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;

        > .subheading {
          font-size: 22px;
          font-weight: 600;
          font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
            "Lucida Sans", Arial, sans-serif;
          text-align: center;
          margin: 10px 0;
          /* margin-bottom: 30px; */
          color: var(--button-color-2-hover);
        }
        > .horizontalLine {
          width: 80%;
          margin-bottom: 20px;
        }

        > .subtotalBox,
        > .shippingChargesBox,
        > .taxBox {
          display: flex;
          align-items: center;
          gap: 5%;
          /* border: 1px solid green; */
          margin: 5px 1vw;
          width: 100%;

          > .shippingChargesHeading,
          > .taxHeading,
          > .subtotalHeading {
            width: 50%;
            font-size: 14px;
            font-weight: 600;
            color: rgb(104, 104, 104);
            text-align: right;
          }
          > .subtotal,
          > .shippingCharges,
          > .tax {
            width: 50%;
            font-size: 17px;
            font-weight: 600;
            color: rgb(61, 61, 61);
          }
        }
      }

      > .totalBox {
        display: flex;
        flex-direction: row;
        align-items: center;
        /* border: 1px solid green; */
        margin: 5px 1vw;
        gap: 5%;
        margin-bottom: 30px;

        > .totalHeading {
          width: 50%;
          font-size: 16px;
          font-weight: 700;
          color: rgb(82, 82, 82);
          text-align: right;
        }

        > .total {
          width: 50%;
          font-size: 21px;
          font-weight: 600;
          color: rgb(34, 34, 34);
        }
      }
      > .paymentButtonBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 5px 1vw;
        /* border: 1px solid green; */
        > .paymentButton {
          /* background-color: ; */
          background-color: var(--button-color);
          color: white;
          height: 40px;
          font-size: 14px;
          width: 160px;
          border: none;
          border-radius: 40px;
          transition: 200ms ease-in-out;
          cursor: pointer;
          margin: 10px 0;
          &:hover {
            background-color: var(--button-color-hover);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .outerContainer {
    margin-top: 10vh;
    > .headingBox {
      > .heading {
        font-size: 30px;
      }
    }
    > .shippingAndOrderBox {
      display: flex;
      flex-direction: column;
      align-items: center;

      > .shippingAndCartDataBox {
        width: 100%;
        order: 2;
        margin: 0;
        padding: 0;

        > .shippingAreaBox {
          width: 100%;
          max-width: 320px;
          margin: 5px 0;

          > .nameBox,
          > .phoneNumberBox,
          > .addressBox,
          > .pincodeBox {
            margin: 3px 1vw;

            > .nameHeading,
            > .phoneNumberHeading,
            > .addressHeading,
            > .pincodeHeading {
              width: 30%;
              font-size: 12px;
            }

            > .name,
            > .phoneNumber,
            > .address,
            > .pincode {
              width: 70%;
              font-size: 14px;
            }
          }
        }
        > .cartDataBox {
          > .dataBox {
            > .itemBox {
              > .productCard {
                > .itemImage {
                  width: 70px;
                }

                > .infoBox {
                  > .itemName {
                    font-size: 16px;
                  }
                  > .priceBox,
                  > .quantityBox {
                    > .priceHeading,
                    > .quantityHeading {
                      font-size: 12px;
                    }

                    > .itemPrice,
                    > .itemQuantity {
                      font-size: 13px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      > .orderSummaryAndPaymentBox {
        width: 100%;
        order: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        margin-bottom: 10px;
        padding: 0;

        > .orderSummaryBox {
          max-width: 300px;
          width: 100%;
        }

        > .totalBox {
          width: 100%;
          margin-bottom: 10px;
        }
      }
    }
  }
}
