.outerContainer{
    position: fixed;
    width: 100%;
    margin-top: 20vh;
    border: 1px solid green;
    /* top: 90; */
    /* .box{
        height: 330 !important;
    } */
}
.box{
    position: fixed;
    margin-top: 100px;
    width: 100%;
}
.imageIcon{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    /* object-fit: contain; */
}

/* .dialIcon{
    width: 30px !important;
    height: auto !important;
} */

.tooltip {
    background-color: #4caf50 !important; /* Tooltip background color */
    color: #ffffff !important;            /* Tooltip text color */
    font-size: 14px !important;
    /* margin:  0 !important; */
  }